# Dependências e compilação do Maven
target/
!.mvn/wrapper/maven-wrapper.jar
log/
logs/

# Arquivos da IDE (VS Code, IntelliJ, Eclipse)
.vscode/
.idea/
*.iml
*.classpath
*.project
*.settings/

# Arquivos de ambiente e chaves sensíveis
.env
.env.local
application-secret.properties